<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Find Companion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='mdb.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='s.min.css') }}" type="text/css">

    <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body >
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='jquery-3.2.1.min.js')}}"></script>
    <script src="{{ url_for('static', filename='mdb.min.js')}}"></script>
    <script src="{{ url_for('static', filename='popper.min.js')}}
</html>
